# Arquivo de exemplo. Copie para .env e preencha com seus dados locais.
# Quando MOCK_EMAIL=True, o token será impresso no console ao invés de usar Outlook.
MOCK_EMAIL=True
ADMIN_USERS=carlos.lsilva,seu.usuario

# Caminho Base para UPLOADERS.xlsx (opicional, deixado em branco ele usa a pasta atual)
EXCEL_FILE=dummy_uploaders.xlsx

# Caminhos emulados para desenvolvimento local
# Exemplo: pasta local para testes
PATH_CELULA=./emulacao/celulapython
BASE_PATH=./emulacao/arquivos_input
